@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

:root {
    --body-bg-color: #1a1922;
    --text-color: #837ea0;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--body-bg-color)
}

.an { 
    animation: go-back 1s;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
} 

.rem {
    margin-right: 1rem;
}
.coluna1 {
    background-color: var(--body-bg-color);
    width: 25%;
    height: 90vh;
    margin: 1rem;
}

.coluna2 {
    background-color: var(--body-bg-color);
    width: 100%;
    height: 90vh;
    margin: 1rem;
}

.container {
    display: flex;
    margin: 1rem;
}

.perfil {
    background-color: var(--bg-cards);
    width: 100%;
    height:25%;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    color: var(--text-color);
}

.perfil h1 {
    margin-top: 10px;
    font-size: 2.5vh;
}



.perfil h2 {
    font-size: 1.5vh;
    font-weight: 500;
    
}

.perfil img {
    margin-top: 20px;
    width: 30%;
    border-radius: 100px;
    border: 3px solid #2eacd3;
}


.info {
    margin-top: 20px;
    background-color: var(--bg-cards);
    width: 100%;
    height: 45%;
    border-radius: 15px;
    align-items: left;
    text-align: left;
}

.informações {
    position: relative;
    top: 12%;
    margin: 10%;
    width: 80%;
    height: 80%;
    color: var(--text-color);
    margin-top: 35px;
    text-align: left;
    background-color:var(--bg-cards);
}

.informações img {
    float: inline-end;
    width: 7%;
    margin-right: 20px;
    margin-top: 5%;
}

.informações img:hover{
    cursor: pointer;
    background-color: #22212c27;
}

#contactText {
    font-size: 2vh;
    padding-bottom: 10px;
}
#text {
    font-size: 12px;
}

.habilidades {
    margin-top: 20px;
    background-color: var(--bg-cards);
    width: 100%;
    height:25%;
    border-radius: 15px;
}

.habilidades h1 {
    font-size: 2vh;
    padding-left: 10%;
    padding-top: 5%;
    color: var(--text-color);
}


.tecnologias img{
    width: 9%;
    margin-left: 35px;
    margin-top: 13px;
    border-radius: 5px;
}

.myProjects {
    display: flex;
    background-color: var(--bg-cards);
    justify-content: space-between;
    border-radius: 15px;
    padding: 20px;
}

.myProjects h1 {
    color: var(--text-color);
    font-size: 20px;
}
.myProjects img {
    padding-top: 10px;
    width: 20px;
    cursor: pointer;
}

.pastas {
    display: flex;

    padding-top: 20px;


}

.pasta1 {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--bg-cards)
}


.pasta2 {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--bg-cards)
}

.pasta2 h1 {
    font-size: 16px;
}

.pasta2 p {
    color: var(--text-color);
    font-size:12px;
    padding-top: 15px;
}

.pasta2 img {
    width:20px;
    padding-right: 20px;
    float: right;
}

.pasta1 h1 {
    font-size: 16px;
}


#soft {
    color:#2eacd3;
}
span {
    color:#2eacd3;
}
#code {
    color:#2eacd3;
}
.pasta1 p {
    color: var(--text-color);
    font-size:12px;
    padding-top: 15px;
}

.pasta1 img {
    width:20px;
    padding-right: 20px;
    float: right;
}
.js {
    padding-left: 96%;
    padding-top: 10px;
}

.posts {
    display: flex;
    background-color: var(--bg-cards);
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}

.posts h1 {
    color: var(--text-color);
    font-size: 20px;
}

.postsOn {
    background-color: var(--bg-cards);
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    height: 250px;
}

.postsOn img {
    max-width: 20%;
    border-radius: 15px;
    float: left;
    margin-right: 30px;
}

.postsOn h1, h4, p{
    color: var(--text-color);
}

.postsOn h4 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 1px;
}

.postsOn p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.setaReact {
    padding-top: 5px;
    cursor: pointer;
}

.desafios {
    color: var(--text-color);
    font-size: 14px;
    
}

.desafios img {
    color: var(--text-color);
    width: 40px;
}

#pd {
    font-size: 1vh;
}

.contatosc {
    padding-top: 2.5%;
    position: fixed;
    width: 75.5%;
}
